<html>
    <head>
        <style>
            
            .d2{
                width: 500px;
                height: 300px;
                margin-left: 350px;
                text-align: center;
                border: 1px lavender;
                background-color: white;
                color:  black;
                align-items: center;
                justify-content: center;
                background-image: url("https://pbs.twimg.com/media/EzdlQ60VIAEZVZ9.jpg");
                background-size:cover;
                

            }
            
            .bg-container{
                background-image:url("https://techsavvywomen.net/bin/uploads/2018/12/40633260_s.jpg");
                    background-size:cover;
                    height:100vh;
            }
        </style>
    </head>
    <body >
    <div class="bg-container">                    
        <div class="d1">
            <img src="" 
            class="img1">
        </div><br>
        <div class="d2" >
            
                <div class="about">
                     <br>
                    <h4><b><i>About</i></b></h4>
                    <p>This website gives you a random quotes which helps you to boost your confidence.<br>
                    It also helps you to start a fresh day by giving some good advice and exhance your spirit</p>
                    <p>To access our website and to get your quote please login into our
                        website using the below links:</p>

                    New user ? <a href="/signup">Signup</a><br>
                    Already a user? <a href="/signin">Signin</a>
                </div>
        </div>
        </div>
    </body>
</html>